<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css" type="text/css">
    <title>DOOR STEP</title>
</head>
<body>
    <div class="main">
   <section class="header">
    <nav class="navbar-item">
        <div class="navbar-logo">
           <h3>DOOR STEP</h3>
         </div>
         <div class="navbar-list">
            <ul>
                <li>Home</li>
                <li>About</li>
                <li>contact</li>
            </ul>
         </div>
         <div class="navbar-search">
            <form action="" method="" class="search-input">
              <input type="text" name="name" class="search" placeholder="search input">
            </form>
         </div>
    </nav>
   </section>


   <!-- Body section -->
    <section class="register">
        <button  type="submit" class="signup"><a href="/signup" class="">signup</a></button>
        <button  type="submit" class="login"><a href="/enter">login</a></button>
    </section>
</div>
    <!-- footer section  -->
    <footer>
   <!-- footer input -->
    </footer>
</body>
</html>