<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css"  type="text/css">
    <title>DOOR STEP</title>
</head>
<body>
    
    <section id="login"> 
        <form action="/user/login" method="POST" class="form-element-login">
             <input type="name" name="email" id="email" class="email" placeholder="email" required /><br><br>
             <input type="password" name="password"  id="password"  class="password " placeholder="password" required /> <br><br>
            <button class="btn-login-login" type="submit">login</button><br><br>
            <button type="submit" class="btn-login-google">google</button><br><br>
            <button type="submit" class="btn-login-facebook">facebook</button><br><br> 
            <button class="btn-login-signup" type="submit"><a href="/signup"   class="">signup</a></button>
        </form>
 </section>
</body>
</html>