<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../css/styles.css" class="">
    <title>DOOR STEP</title>
</head>
<body>
    <section class="main-page">
        <nav class="navbar-item">
            <div class="navbar-logo">
               <h3>DOOR STEP</h3>
             </div>
             <div class="navbar-list">
                <ul>
                    <li>Home</li>
                    <li>About</li>
                    <li>contact</li>
                </ul>
             </div>
             <div class="navbar-seacrch">
                <form action="" method="" class="">
                  <input type="text" name="name" class="" placeholder="search input">
                </form>
             </div>
        </nav>
       </section>
       <section class="pizza-page">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam itaque place</p>
      </section>
  <!-- footer section  -->
  <footer>
    <!-- footer input -->
     </footer>

</body>
</html>