<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../css/styles.css"  type="text/css">
    <title>DOOR STEP</title>
 </head>
<body>
  
        <section id="signup">
            <form action="/user/register" method="POST" class="form-element">
                  <input  name="firstName" type="text"  class="firstname"  id="firstname" placeholder="first name " required /><br><br>
                  <input  name="lastName"  type="text"  class="lastname"  id="lastname"  placeholder="last name" required /><br><br>
                  <input  name="email" type="email"  class="email"   id="email" placeholder="email" required /><br><br>
                  <input  name="password" type="password" class="password"  id="password" placeholder="password" required /> <br><br>
                  <button class="btn-signup" type="submit" >register</button><br><br>
                
                 <button type="submit" class="btn-google">google</button><br><br>
                 <button type="submit" class="btn-facebook">facebook</button><br><br>
                 <button type="submit" class="btn-login"><a href="/enter" >login</a></button>
             </form>
             
        </section>
       

        
</body>
</html>